{% form_theme form 'common/toto.html.twig' %}

 {{ form_row(form.name) }}
 {{ form_row(form.difficulty) }}
 {{ form_row(form.synopsis) }}

<button class="button" type="submit">
 Enregistrer
</button>

{# ============================================================ #}

{#<div class="field">#}
{#    {{ form_label(form.name, null, {label_attr: { class: 'label' }}) }}#}
{#    <div class="control">#}
{#        {{ form_widget(form.name, {attr: {class: 'input'}}) }}#}
{#    </div>#}
{#</div>#}

{#<div class="field">#}
{#    {{ form_label(form.difficulty, null, {label_attr: { class: 'label' }}) }}#}
{#    <div class="control">#}
{#        <div class="select">#}
{#            {{ form_widget(form.difficulty, {attr: {class: 'input'}}) }}#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<div class="field">#}
{#    {{ form_label(form.synopsis, null, {label_attr: { class: 'label' }}) }}#}
{#    <div class="control">#}
{#        {{ form_widget(form.synopsis, {attr: {class: 'textarea'}}) }}#}
{#    </div>#}
{#</div>#}
