{% extends 'base.html.twig' %}

{% block title %}Video Games{% endblock %}

{% block breadcrumbs %}
    {% include 'common/_breadcrumb.html.twig' with { items: [
        { label: 'Home', href: path('home'), is_active: false},
        { label: 'Jeux vidéos', href: path('app_video_game_index'), is_active: true},
    ]} %}
{% endblock %}

{% block body %}
    <div class="container columns mb-2">
        <div class="column px-0">
            <h1 class="title">Jeux vidéos</h1>
        </div>

        {% if is_granted('ROLE_EDITOR') %}
        <div class="column px-0">
            <div class="column is-flex is-justify-content-end">
                <a class="button" href="{{ path('app_video_game_new') }}">Créer</a>
            </div>

        </div>
        {% endif %}
    </div>

    {% if games is empty %}
        {# Notification de l'utilisateur si aucun résultat #}
        <article class="message is-info">
            <div class="message-body">
                <p>Aucun résultat</p>
            </div>
        </article>
    {% else %}
        {# Affichage des différents jeux #}
        <table class="table is-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Difficulté</th>
                <th>Synopsys</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.difficulty }}</td>
                    <td>{{ game.synopsis }}</td>
                    <td>
                        {% for cat in game.categories %}
                            <span class="tag is-link is-light is-small">{{ cat.shortname }}</span>
                        {% endfor %}
                    </td>
                    <td class="buttons">
                        <a class="button is-light is-small"
                           href="{{ path('app_video_game_show', {id: game.id}) }}">Voir</a>

                        {% if is_granted('ROLE_EDITOR') %}
                            <a class="button is-info is-small" href="{{ path('app_video_game_edit', {id: game.id}) }}">Éditer</a>
                            <form method="post" action="{{ path('app_video_game_delete', {id: game.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete_' ~ game.id) }}">
                                <button class="button is-danger is-small" type="submit">Supprimer</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
