{% extends 'base.html.twig' %}

{% block title %}
    {{ game.name }} | Jeux vidéos
{% endblock %}

{% block breadcrumbs %}
    {% include 'common/_breadcrumb.html.twig' with { items: [
        { label: 'Home', href: path('home'), is_active: false},
        { label: 'Jeux vidéos', href: path('app_video_game_index'), is_active: false},
        { label: game.name, href: path('app_video_game_show', {id: game.id}), is_active: true},
    ]} %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="columns mb-2">
        <div class="column">
            <h1 class="title">{{ game.name }}</h1>
        </div>
        {% if is_granted('ROLE_EDITOR') %}
            <div class="column is-flex is-justify-content-end">
                <a class="button" href="{{ path('app_video_game_edit', {id: game.id}) }}">Éditer</a>
            </div>
        {% endif %}
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Détails du jeu</p>
        </header>
        <div class="card-content">
            <div class="content">
                <ul>
                    <li>Nom : {{ game.name }}</li>
                    <li>Difficulté : {{ game.difficulty }}/ 5</li>
                    {% if game.synopsis is not empty %}
                        <li>Synopsis : {{ game.synopsis }}</li>
                    {% endif %}
                    {% if game.categories is not empty %}
                    <li>Catégories :
                        <ul>
                            {% for cat in game.categories %}
                            <li>{{ cat.name }}</li>
                            {% endfor %}

                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}


